<!DOCTYPE html>
<html lang="en">
<head>
  <title>CRUD OPERATION ON GOOGLE SPREAD SHEET WITH JQUERY</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>
  <style type="text/css">
    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }
  </style>
</head>
<body>

<div class="container" id="app">
  <div class="row">
    <h2>CRUD OPERATION ON GOOGLE SPREAD SHEET WITH JQUERY</h2>
    <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">Insert Comment</div>
        <div class="panel-body">
            <form>
               <div class="form-group">
                <label>Id User:</label>
                <input type="text" class="form-control" id="idUser" placeholder="Enter id user" name="idUser">
              </div>
              <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name">
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              </div>
              <div class="form-group">
                <label>Comment:</label>
                <textarea  class="form-control" id="comment" name="comment" rows="4"></textarea>
              </div>
              <button class="btn btn-default" id="btnInsert"  @click.stop.prevent="insertComment">Insert</button>
            </form>
        </div>
        </div>
    </div>
  </div>
  <div class="row" style="margin-top:10px">
    <div class="col-md-8">
      <div class="panel panel-default" id="panelComment">
        <div class="panel-heading">List Comment</div>
        <div class="panel-body">
          <div class="table-responsive">
         <table id="tableList" class="table table-striped table-bordered" style="width:100%">
            <thead>
              <tr>
                <th>Index</th>
                <th>Date Time</th>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Comment</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in listData">
                <td>{{index+1}}</td>
                <td>
                  {{item.Date_Created}}
                </td>
                <td>
                  {{item.Id}}
                </td>
                <td>
                  {{item.Name}}
                </td>
                <td>
                  {{item.Email}}
                </td>
                <td>
                  {{item.Comment}}
                </td>
                <td>
                 <button type="button" class="btn btn-default" style="margin-right:10px;margin-bottom:10px" data-toggle="modal" data-target="#myModal">Edit</button>
                 <button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body">
        <form>
               <div class="form-group">
                <label>Id User:</label>
                <input type="text" class="form-control" id="idUserEdit" placeholder="Enter id user"  v-model="editInput.idUser">
              </div>
              <div class="form-group">
                <label>Name:</label>
                <input type="text" class="form-control" id="nameEdit" placeholder="Enter name" v-model="editInput.name">
              </div>
              <div class="form-group">
                <label>Email:</label>
                <input type="email" class="form-control" id="emailEdit" placeholder="Enter email" v-model="editInput.email">
              </div>
              <div class="form-group">
                <label>Comment:</label>
                <textarea  class="form-control" id="comment" name="comment" rows="4" v-model="editInput.comment"></textarea>
              </div>
              <button class="btn btn-default" id="btnInsert"  @click.stop.prevent="insertComment">Submit</button>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script type="text/javascript">
var script_url = "https://script.google.com/macros/s/AKfycbyByujVrWjJujSctZRjMfJzvA-rl6EoqTQPBjH6mSbb1nswE51GDIbew46d460ST71x/exec";

const app = Vue.createApp({
    data(){
        return {
            listData:[],
            editInput: {
              idUser: "",
              name: "",
              email: 0,
              comment: ""
            }
        }
    },
    mounted: function () {
      var thisMounted=this;
      thisMounted.loadListComment();

    },
    methods:{
      loadListComment:function(){
        var thisLoadList=this;
        $('#panelComment').block({ 
            message: '<h1>Loading</h1>', 
            css: { 
            border: 'none', 
            padding: '15px', 
            backgroundColor: '#000', 
            '-webkit-border-radius': '10px', 
            '-moz-border-radius': '10px', 
            opacity: .5, 
            color: '#fff' 
        } 
            });
      axios.get('https://script.google.com/macros/s/AKfycbyByujVrWjJujSctZRjMfJzvA-rl6EoqTQPBjH6mSbb1nswE51GDIbew46d460ST71x/exec?action=read')
        .then(function (response) {
            $('#tableList').DataTable().destroy();
            $('#tableList').DataTable({
                paging:false
            });
            var result=response.data.records;
            result=result[0];
            var dateCreated=result.Date_Created;
            if(dateCreated.length>0){
              $('#tableList').DataTable().destroy();
              thisLoadList.listData=response.data.records;
              thisLoadList.$nextTick(() => {
                $('#tableList').DataTable({
                  paging:false
                });
              });
            }
          $('#panelComment').unblock();
        })
        .catch(function (error) {
            console.log(error);
        });
      },
      insertComment:function(){
        var  thisInsert=this;
        var idUser = $.trim($('#idUser').val());
        var name = $.trim($('#name').val());
        var email=$.trim($('#email').val());
        var comment = $.trim($('#comment').val());

        if(idUser.length==0){
          alert('Please input id user');
          return false;
        }

        if(name.length==0){
          alert('Please input name');
          return false;
        }

        if(email.length==0){
          alert('Please input email');
          return false;
        }

        var dataInsert={
          "action": 'insert',
          'callback': 'ctrlq',
          'id': idUser,
          'name':name,
          'email': email,
          'comment': comment
        };

        var request = jQuery.ajax({
            crossDomain: true,
            data:dataInsert,
            url: script_url,
            method: "POST",
            dataType: "jsonp",
            success: function(data) {
              thisInsert.loadListComment();
            }
        });

      }
    }
})
app.mount('#app') // Vue Instance - Root component
</script>
</body>
</html>
